.chat-list {
    background-color: rgb(255, 255, 255);
    border-left: 2px solid rgb(60, 60, 60, 0.3);
    border-bottom: 2px solid rgb(60, 60, 60, 0.3);
    border-right: 2px solid rgb(60, 60, 60, 0.3);
    height: 100%;
    position: relative;
    padding: 0 2rem;   
    margin-top: 2rem;

    a {
        text-decoration: none;
        color: #1f1f1f;
        font-weight: bold;
        padding-left: rem;


    }

    .search-button {
        border-bottom: 2px solid rgb(79, 77, 77, .3);
        padding: 1rem 0;
        margin-bottom: 1rem;
    }

    .users-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .user {

            border-bottom: 1px solid rgba(30, 125, 203, 0.5);

            .info {
                display: flex;
                gap: .5rem;
                flex-wrap: wrap;
                word-wrap: break-word;
                font-size: 1.3rem;
                flex-direction: column;

                .initial {
                    background-color: red;
                    height: 3rem;
                    width: 3rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 2rem;
                    font-weight: bold;
                    padding: 1rem;
                    border-radius: 50%;
                    color: white;
                    text-transform: uppercase;
                }
            }
        }


    }
}
