.Login{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../../public/assets/img/undraw_secure_login_pdn4.svg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    form{
        filter: opacity(1);
        box-shadow: 0px 0px 10px 5px rgb(233, 89, 89);
        background-color: var(--color-primary);
        color:white;
        border-radius:1rem;
        margin-top: 4rem;
        padding: 5rem;
        max-width: 600px;
        min-height: 500px;
        display: flex;
        flex-direction: column;
        input{
           
            margin: 2rem 0;
        }
        label{
            margin-top: 1rem;
            a{color:#fff;}
        }
        .form-group{
        }
    }

    .estado_de_mi_cuenta{
        margin-top: 1rem;
    }

    .logo{
        background-color: rgba(2, 2, 2, 0.086);
        border-radius: 2rem;
        max-width: 14rem;
        max-height: 10rem;
        margin: 0 auto;
    }
}