.user__options{
    display: flex;
    margin-bottom: 1rem ;
  
    align-items: center;
    justify-content: space-around;
    gap: .5rem;
    .option{
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        border: 2px solid white;
        box-shadow: -2px 2px 4px rgb(225, 88, 88);
    }
    .delete{
       color: rgb(235, 79, 79);
    }

    .credits{
        color: rgb(227, 221, 97);
    }
    .libs{
        position: relative;
        span{
            position: absolute;
            top:-.5rem;
            left: 1.2rem;
            font-size: 1.2rem;
            height: 2rem;
            width: 2rem;
            background-color: var(--color-primary);
            border: rgb(220, 89, 89) 1px solid;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

}