.EditUser{
    padding: 2rem;
    h3{
        margin-top: 2rem;
    }
    .packages-list{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap:1rem;
        .pack{
            color: white;
            font-weight: bold;
            cursor: pointer;
            i{
                margin-right: .5rem;
            }
           
        }
    }
    .buttons{
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
        .btn{
            font-size: 1.2rem;
            padding: 1rem 3rem;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .5rem;
        }
    }
}