.emby__demos2 {
    .header {
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem;
        background: var(--color-emby);

        .count {
            font-weight: bold;
        }

        .options {
            button {
                border-radius: .3rem;
                border: none;
                box-shadow: 0 0 3px black;
                font-weight: bold;

                &:hover {
                    transform: scaleY(1.1);
                    background-color: rgb(69, 155, 195);
                    color: white;
                }
            }
        }
    }

}

.new__emby__demo__form {

    .packages {
        display: flex;
        margin-top: 1rem;

        .pack {
            background-color: rgb(235, 78, 78);
            padding: 1rem;
            border-radius: .5rem;
            color: white;
            font-weight: bold;
            cursor: pointer;



            &.selected {
                background-color: rgb(92, 172, 92);
            }
        }

    }
}