.emby__users__container{
    .emby__users__list{
        display:grid;
        gap: 2rem;
        margin-top: 2rem;
        grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
        .user{
            
            background-color: var(--color-primary);
            color: white;
            border-radius: 1rem;
            overflow: hidden;
            .header{
                background-color: rgb(47, 109, 157);
                color: white;
                letter-spacing: 1px;
                padding: 1rem;
                backdrop-filter: blur(33px);
                box-shadow: 2px 2px 3px rgb(84, 84, 84);
                text-align: center;
                border-radius: 0 0 10rem 0;
                border-bottom: 3px solid #ffffff;
            }
            .body{
                margin:1rem;
            }

            .footer{
                margin: 1rem 0;
                ul{
                    display: flex;
                    justify-content: space-around;
                    li{
                        height: 3rem;
                        width: 3rem;
                        border-radius: 50%;
                        border: 2px solid #fffefe;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: var(--color-primary);
                        color: white;
                        box-shadow: 0 0 6px rgb(239, 21, 21);
                    }
                }
            }
        }
    }

}