$bg-color: rgba(126, 126, 126, 0);
$box-bg-color:rgb(181, 99, 90);
$text-gray:rgb(62, 61, 61);
$active-bg:rgb(56, 190, 121);
.new-reseller{
   .fa-clipboard-check{
    color:rgb(21, 22, 23);
    margin-right: .5rem;
   }
    padding: 2rem;
    .input-group{
        margin-top: 1rem;
        display: flex;
        align-items: center;
        min-width: 100px;
        background-color: rgb(67, 56, 56);
        border-radius: .3rem;
        label{
           min-width: 3rem;
           text-align: center;
            color: white;
        }
        
    }

    .reselles-list{
        margin: 1rem 0;
        background-color: $bg-color;
        box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.67);
        border-radius: .5rem;
        display: flex;
        .reseller{
            color: rgb(255, 255, 255);
            background-color: $box-bg-color;
            text-align: center;
            border-radius: 1rem;
            margin: 1rem;
            padding: 1rem;
            span{
                font-weight: bold;
                color:$text-gray;
            }
            p{
                font-size: 1rem;
            }

            &.active{
                background-color: $active-bg;
            }

        }
    }

    .packages{
        background-color: red;
        background-color: $bg-color;
        display: flex;
        padding: 1rem;
        margin-top: 1rem;
        box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.67);
        border-radius: .5rem;
        display: flex;
        gap:1rem;
        .pack{
            padding: 1rem;
            background-color: $box-bg-color;
            color: white;
            border-radius: 1rem;
            p{
                font-size: 1rem;
                margin-bottom: 0;
                &:nth-child(1){
                    color:$text-gray;
                    font-weight: bold;
                }
            }

            &.active{
                background-color: $active-bg;
            }
        }
    }
    div.data{
        display: grid;
        justify-content: center;
      
        gap: 1rem;
        grid-auto-flow: column;
        margin-top: 2rem;
        .input-group{
            position: relative;
            padding: 1rem;
            background-color: $bg-color;
            i{
                position: absolute;
                top:-.9rem;
                left: 0rem;
                background-color: transparent;
                border: none;
                font-size: 1.5rem;
            }

        }
    }

    .btn-container{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        .btn-add{
            background-color: rgb(148, 150, 150);
            flex:1;
            font-size: 1.3rem;
            justify-content: center;
            max-width: 600px;
            font-weight: bold;
            &.active{
                background-color: rgb(60, 146, 145);
            }
        }


    }
}