.Form {
    .list_container {
        margin-top: 1rem;
        display: flex;

        .list {
            cursor: pointer;
            background-color: rgb(215, 57, 57);
            padding: .5rem 1rem;
            border-radius: 5px;
            color: white;

            &.active {
                background-color: rgb(29, 146, 62);
            }
        }
    }
}