.emby_resellers_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 2rem;
    background: linear-gradient(45deg, rgb(85, 85, 237), rgb(242, 68, 68));
    color: white;
}