.general-card {
    max-width: 200px;
    background: linear-gradient(#ff8a64, #ff8a64);
    color: white;
    margin: 1rem;
    border-radius: 1rem;
    overflow: hidden;

    .header {
        background-repeat: no-repeat;
        background-position: right top;
        background-image: url("https://cdn.pixabay.com/photo/2016/04/15/18/05/computer-1331579__340.png");
        background-size: 7rem 5rem;

        min-height: 4rem;

    }

    .content {
        background-color: #1e204c;
        border-radius: 2rem 2rem 0 0;
        padding: 1rem;

        h2 {
            font-size: 3rem;
        }

        small {
            font-size: 1.2rem;
        }
    }
}