.Gdrive{
    .gdrive__search{
      max-width: 400px;
    } 
    .files__containers{
        .files{
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
            padding: 1rem 2rem;
            gap: 1rem;
            .file{
                background-color: rgb(94, 122, 65);
                text-align: center;
                color: white;
                border-radius: 1rem;
                box-shadow: -2px 2px 3px rgb(76, 75, 75);
            }
        }
    }
}