.credits__and__connections{
    max-width: 500px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    overflow: hidden;
    margin-top: 1rem;
    gap: 1rem;
    .box{
        display: flex;
        flex-direction: column;
        label{
            font-size: 1.2rem;
            font-weight: bold;
            color: var(--color-secondary);
        }
        input{
           padding: .2rem 0;
           border-radius: .5rem;
           text-align: center;
        }
    }
}