@import "../../mixins.scss";

aside{
   
    @include phone-only {
        
        background-color: rgba(0, 0, 0, 0.596) !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        &.active{
            display: block;
        }
        .menu{
            background-color: #282525;
            max-width: 250px;
            min-height: 100vh;
            position: relative;
            .btn-menu{
                color: var(--color-primary);
              
                position: absolute;
                top: .5rem;
                height: 3rem;
                width: 3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                right: 1.5rem;
                color: rgb(255, 255, 255);
                text-shadow: 0px 0px 10px rgb(76, 75, 75);
                font-size: 2rem;
                background-color: rgb(204, 96, 96);
            }
        }
        z-index: 4;
    }

    .menu{
        position: sticky;
        top: 1rem;
        .menu-list{
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 0 1rem;
            @include phone-only {
                padding-top: 4.5rem;
            }
            list-style: none;
            gap: 1rem;
            .menu-item{
                background-color: var(--color-secondary);
                color: white;
                padding: 1rem ;
                display: flex;
                gap: 1rem;
                align-items: center;
                transition: all .5s;
                border-radius: .5rem;
                &:hover{
                    background-color: var(--color-secondary);
                }
                a{
                    color: white;
                    text-decoration: none;
                }
            }

        }
    }
    

}