.spinner_container{

    position: relative;
    top:-1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    flex-direction: column;
    
    .Spinner{
        
        border: 6px solid rgb(0,0,0,.3);
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        border-left-color: rgb(36, 88, 147);
        animation: spin 1s infinite ease-in-out;
        
    }
    
    h3{
        font-weight: bold;
        font-size: 3rem;
    }
    
    @keyframes spin {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
}