.graf{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    h2{
        text-align: center;
    }
    
    background:linear-gradient(rgb(248, 245, 245),rgb(99, 99, 99));
    box-shadow: -3px 2px 5px rgb(43, 43, 44);
    border-radius: 1rem;
}