.statistics{
    margin-top: 2rem;
    h2{
        font-size: 2rem;
        font-weight: 600;
        font-family: 'Courier New', Courier, monospace;

    }
    .circle__container{
        display: flex;
        gap: 1rem;
    }

}