:root{
    --header-width:30rem;
    --header-height:15rem;
}
.account_info{

    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    .info{
        box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.478);
        position: relative;
        background-color: rgb(62, 60, 60);
        border-radius: 2rem;
        margin-top: 1rem;
        overflow: hidden;
        header{
            position: relative;
            min-width: var(--header-width);
            min-height: var(--header-height);
            margin-bottom: 6rem;
            background-color: rgb(201, 99, 99);
            border-radius: 0 0 50%;
            text-align: center;
            border-bottom:  2rem solid rgb(255, 255, 255);
            .btn-exit{
                position: absolute;
                right: 2rem;
                top: .5rem;
                color: var(--color-primary);
                text-shadow: -1px 2px 2px rgb(213, 210, 210);
            }
            div{
                padding-top: 1rem;
                font-size: 2rem;
                font-weight: bold;
                color: white;
            }
            
            img{
               position: absolute;
                width: 12rem;
                width: 12rem;
                bottom: calc(50% + -75% );
                left: calc( 50% - 6rem );
                border-radius: 50%;
                border:2rem solid white;
                display: block;
                
                

            }
        }
        .data{
            display: flex;
            padding: 1rem;
            flex-direction: column;
            align-items: center;
            color: white;
            
        }
    }
}
.recent_movies{
    margin-top: 2rem;
   .slide{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    gap: 1rem;
    .img_container{
        box-shadow: -4px 4px 6px black;
        img{
            width: 100%;
            display: block;
            height: 100%;
            &:hover{
                transform: scale(1.1);
                border-radius: 1rem;
            }
        }

    }
   }
}