.counter-steps{
    display: flex;
    justify-content: center;
    align-items:center ;
    
    .counter{
        display: flex;
        border: 1px solid black;
        min-width: 3rem;
        height: 3rem;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-weight: bold;
        &.active{
            background-color: rgb(202, 114, 56);
            color: white;
        }
        &.complete{
            background:rgb(54, 112, 54);
            color: white;
        }
    }
    .line{
        display: inline-block;
        height: .3rem;
        background-color: rgb(68, 68, 68);
        flex: 0 1 10%;

        &.active{
            background-color: rgb(202, 114, 56);
            color: white;
        }
        &.complete{
            background:rgb(101, 161, 59);
            color: white;
        }
    }
 
    }
  
 