.PasswordGenerator {
    display: flex;
    height: 3.5rem;
    align-items: center;
    overflow: hidden;
    border-radius: .3rem;
    box-shadow: -2px 2px 3px rgb(55, 55, 55);
    margin: 1rem 0;

    input,
    button {
        height: 100%;
        box-shadow: none;
    }

    input {
        flex: 1;
        border: none;
    }

}