.jellyfin__packages {
    .bar {
        background-color: rgb(88, 187, 100);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    }

    .packages__list {
        margin-top: 2rem;
        padding: 0 1rem;

        .packages {
            display: grid;
            gap: 2rem;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            text-align: center;

            .pack {
                background-color: rgb(55, 54, 54);
                box-shadow: -2px 2px 3px rgb(48, 48, 48);
                border-radius: 1rem;
                overflow: hidden;

                .header {
                    background-color: rgb(51, 81, 57);
                    color: white;
                    font-weight: bold;
                    padding: .5rem 0;
                }


                .options {
                    display: flex;
                    justify-content: center;
                    gap: 2rem;
                    border-top: 1px solid #ffffff;

                    .option {
                        cursor: pointer;
                        border: 0.2rem solid rgb(241, 105, 105);
                        margin: .5rem 0;
                        height: 2.7rem;
                        width: 2.7rem;
                        border-radius: 50%;
                        color: white;
                    }

                }
            }
        }
    }
}