@import "../../mixins.scss";

.Header {
    color: #fff;
    margin: 2rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    position: relative;

    .brand {
        display: flex;
        gap: 1rem;
        align-items: center;
       
        border-radius: 1rem 1rem 0 0 ;
        .name{
            display: flex;
            align-items: center;
            @include phone-only {
                flex-direction: column;
                margin-top: 3rem;
                position: absolute;
                z-index: -3;
            }
            gap: 1rem;
            img{
                 border-radius: 1rem;
                max-width: 90px;
                display: block;
            }
           font-size: 2rem;
           font-weight: bold;
        }
        .btn-menu {
            display: none;

            i {
                font-size: 2rem;
                color: #fff;
                font-weight: bold;
            }

            @include phone-only {
                display: block;
            }
        }


        h1 {
            text-shadow: -2px 2px 3px rgb(41, 95, 195);
            font-weight: bold;
            text-align: center;
            border-radius: .5rem;
        }

    }

    .notifications {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0 2rem;
    }

}