.resellers__list {
    margin: 2rem;

    .resellers {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 2rem;

        .reseller {


            border-radius: 1rem;
            overflow: hidden;
            box-shadow:
                -1px 1px 2px 2px rgb(215, 234, 222),
                -3px 3px 5px 3px rgb(41, 41, 41);

            .info {
                background-color: rgb(52, 52, 53);
                padding-top: .5rem;
                color: white;
                text-align: center;

                .name,
                .email {
                    text-align: center;
                    display: block;
                }

                .logo {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: .5rem 0;

                    .circle1 {
                        width: 5rem;
                        height: 5rem;
                        display: block;

                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: rgb(73, 71, 71);
                        border: .5rem solid rgb(52, 203, 52);

                    }

                }
            }

            .OptionsNotAdmin {
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }

            .controls {
                border-left: 3px solid rgba(252, 249, 249, 0.173);
                display: flex;
                padding: 1rem 0;


                justify-content: space-around;

                align-items: center;
                font-size: 1.5rem;
                color: rgb(43, 41, 41);
                background-color: rgb(235, 61, 61);

                i {
                    background-color: white;
                    width: 2.3rem;
                    height: 2.3rem;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid rgb(36, 92, 117);

                    &:hover {
                        transform: scale(1.2);
                        border: 2px solid rgb(46, 47, 48);
                        cursor: pointer;
                    }
                }

                .credits {
                    position: relative;

                    i {
                        z-index: 2;

                    }

                    .total_credits {
                        position: absolute;
                        font-family: 'Times New Roman', Times, serif;
                        right: -1rem;
                        top: -1.5rem;
                        height: 2.3rem;
                        width: 2.3rem;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 2px solid var(--color-primary);
                        box-shadow: 2px 1px 3px 2px rgb(152, 159, 11),
                            3px 3px 3px 2px rgb(65, 64, 64);
                        z-index: 0;
                        font-size: 1.3rem;
                        font-weight: bold;
                        color: rgb(55, 54, 54);
                        background-color: white;

                    }
                }
            }
        }
    }
}