.nav{
   
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            margin: 2rem 0;
            
            text-align: center;
            a{
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none; 
                color: rgb(210, 215, 220);
                display: flex;
                justify-content: center;
                position: relative;
                &:hover > span{
                   display: block;
                }
                svg{
                    width: 1.2rem;
                }
                i {
                    font-size: 1rem;
                }
                span{
                    position: absolute;
                    display: none;
                    left:1.8rem;
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                    border: 4px solid rgb(255, 255, 255);
                    min-width: 50px;
                    background-color: rgb(50, 49, 49);
                    color: rgb(246, 247, 250);
                    transition: all 0.3s ease-in-out;
                    overflow: hidden;
                    
                    .menu{
                        position: relative;
                        min-width: 7rem;
                        .arrow{
                            position: absolute;
                            width: 15px;
                            height: 15px;
                            top: -.5rem;
                            left: -.5rem;
                        border-width: 4px;
                        border-style: solid;
                        border-color:  rgb(57, 156, 138) transparent transparent rgb(57, 156, 138); 
                           
                        }
                        
                        .menu_header{
                            padding: 0.5rem ;
                            border-bottom: 3px solid rgb(60, 59, 59);
                            margin-bottom: 0.5rem;
                            font-weight: bold;

                            
                        }

                        .menu_body{
                            p{
                                padding: 0.5rem;
                                background-color: rgb(24, 25, 25);
                                color: rgb(159, 160, 163);
                                &:hover{
                                    background-color: rgb(89, 93, 92);
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
       
    }
    
}