
.loading-container{
    .loading-content{
        display: flex;
        justify-content: center;
        background-color: var(--color-primary);
        align-items: center;
        color: white;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      h1{
        position: absolute;
        text-align: center;
        background-color: rgb(182, 51, 51);
      }
    }
}