.servers-page{
    padding:0 1rem;
    .new_server_bar{
        margin-top: 2rem;
        background-color: var(--color-primary);
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        color: #fff;
    }
}
.accounts{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  
    .account{
        background:linear-gradient(to right, rgba(26, 40, 64, 0.781) 0%,rgba(47, 120, 146, 0.704) 100%);
        padding: 1rem;
        font-weight: bold;
        color: #fff;
        border-radius: 1rem;
        text-align: center;
        cursor: pointer;
        .platform{
            background-color: rgb(224, 213, 5);
            text-transform: capitalize;
            padding: .5rem;
            color: rgba(62, 60, 60, 0.874);
            border-radius: 2rem 1rem;
            max-width:10rem;
        }
    }
}

