.ShareForm{
   display: flex;
   flex-direction: column;

    h3{
        font-weight: bold;
    }
    .reseller__results{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
       
        gap: 1rem;
        .reseller{
            background: linear-gradient(to right, rgb(36, 36, 36), rgb(185, 51, 49));
            text-align: center;
            color: white;
            border-radius: .4rem;
            box-shadow: -4px 4px 7px rgb(34, 34, 34);
            font-weight: bold;
            padding: 1rem;
            &.selected{
                position: relative;
                background: linear-gradient(to right, rgb(121, 139, 198),rgb(30, 173, 49));
                &::before{
                    position: absolute;
                    content: "📌";
                    top: -1rem;
                }
            }
        }
    }

    form{
        margin-top: 2rem;
        .form__group{
            display: flex;
            flex-direction: column;
            label{
                color:rgb(67, 66, 66);
                font-weight: bold;
                font-size: 1.3rem;
                
            }
            select,input{
                padding: .5rem;
                border-radius: .5rem;
            }
        }

        button{
            display: block;
            width: 100%;
            margin: 0 auto;
            margin-top: 1rem;
            padding: .5rem 0;
            background-color: rgb(83, 100, 136);
            color: white;
            font-size: 2rem;
        }
    }
}