.user__card {
    border-radius: 1rem;
    background-color: transparent;
    box-shadow: inset 4px 4px 8px #918f8f67, -4px 10px 8px rgb(116, 129, 120);
    padding: 0rem;
    text-align: center;
    background-color: var(--color-primary);
    animation: infinite pi 5s steps(100);
    overflow: hidden;
    
    display: grid;
  
 
    grid-template-areas: 
    "header header"
    "body body"
    "options options"
    ;

    &.expired{
        box-shadow: 0 0 10px 2px red;
    }
    .card__header{
        grid-area: header;
        background: var(--color-blue-serenity);
        position: relative;
        min-height: 7rem;
        margin-bottom: 2rem;
        border-radius:  0 0 50% 0;
        
        
        .email{
            font-weight: bold;
            color:white;
        }
        img {
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin: 0 auto;
            margin-bottom: 1rem;
            border: rgb(152, 48, 48) 2px solid;
            box-shadow: -6px 3px 5px rgba(0, 0, 0, 0.725),6px 3px 15px rgba(72, 110, 66, 0.412);
            bottom: -50%;
            left: 50%;
            translate: -50%;
            
        }
        &.expired{
            background: rgb(242, 83, 83);
        }
    }

    .card__body {
        padding: 1.3rem;
        grid-area: body;

        .user__info {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            gap: .5rem;
            .name {
                font-weight: bold;
            }
           
        }
    }
    .card__options{
        margin-top: 1rem;
        grid-area: options;
        color: white;
        text-align: center;
        margin-left: 1rem;
    }

}