:root {
  --color-primary: rgb(58, 58, 58) !important;
  --color-gray-dark: rgb(58, 58, 58);

  --color-primario: rgba(0, 0, 0, 0.582) !important;
  --color-negro: #030311;
  --color-amarillo: #F2AF5C;
  --color-secondary: #454747;
  --color-red-ligth: #F25C78;
  --color-blue-light: #36659e;
  --color-green-ligth: #2BD999;
  --color-white: white;
  --color-blue-serenity: linear-gradient(to right, rgb(109, 130, 169), rgb(69, 116, 181));
  --color-emby: linear-gradient(to right, rgb(60, 207, 60), rgb(59, 131, 20));
  --color-jellyfin: linear-gradient(to right, rgb(61, 80, 153), rgb(54, 187, 232));
  --color-plex: linear-gradient(to bottom, rgb(251, 122, 31), rgb(29, 29, 29));
}

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::-webkit-scrollbar {
    width: 0.5em;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form__group {
  display: flex;
  flex-direction: column;

}

.form__group select,
input {
  padding: .5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  font-weight: bold;
  cursor: pointer;
  border-radius: .3rem;
  border: none;
  margin: 1rem 0;
  padding: .5rem 2rem;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.675);
  font-size: 1.3rem;
  letter-spacing: 1.5px;
  ;
}

.btn-primary {
  background-color: rgb(51, 90, 135);
  color: white
}


.btn-secondary {
  background-color: rgb(81, 82, 83);
  color: white
}

.text-danger {
  color: rgb(176, 8, 8)
}

.pl-1 {
  padding-left: .5rem;
}

.pr-1 {
  padding-right: .5rem;
}

.swal2-popup {
  font-size: 2rem !important;
  font-family: Georgia, serif;
}