.card-options {
    display: flex;
    gap: .5rem;
    justify-content: space-between;
    margin: 1rem;

    .option {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px white solid;
        color: white;
        box-shadow: 0 0 5px 2px rgb(221, 62, 62);

        &.remove {
            color: rgb(234, 99, 99);
        }

        &.coin {
            color: rgb(212, 212, 55);
        }
    }
}